@{
    ViewBag.Title = "Synchronous";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var asyncUrl = "http://localhost:51075/api/AsynchronousApi/1?time=2000";
    var syncUrl = "http://localhost:51075/api/SynchronousApi/2?time=2000";
    var requestResults = new List<string>();
}

<h2>Synchronous</h2>

<input value="aa" id="myVar" style="width: 500px" />
<input value="aa" id="myVar2" style="width: 500px" />

<script>
    window.onload = function() {
        console.log("running");
        $('#myVar').val("Fetching data");
        fetch('@asyncUrl').then(function (response) {
            console.log("running 2");
            response.text().then(function (text) {
                console.log(text);
                $('#myVar').val(text);
            });
        });

        $('#myVar2').val("Fetching data");
        fetch('@syncUrl').then(function (response) {
            response.text().then(function (text) {
                $('#myVar2').val(text);
            });
        });
    };
</script>